* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
  }
  .container{
    position: relative;
  }
  .container textarea {
    display: block;
    width: 100% !important;
    resize: vertical;
  }
  
  .container .pstslider {
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    right: 10px;
    bottom: 10px; /* <==== */
  }

  div.DraftEditor-root {
    /* border: 1px solid #000; */
    /* background-color: beige; */
    height: 65px;
    /* width: 300px; */
    overflow-y: auto;
  }

  div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}